apiVersion: v1
clusters:
- cluster:
    insecure-skip-tls-verify: true
    server: https://127.0.0.1:6445
  name: default
contexts:
- context:
    cluster: default
    user: default
  name: default
current-context: default
kind: Config
users:
- name: default
  user:
    client-certificate-data: LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUJrVENDQVRpZ0F3SUJBZ0lJY1lUYVZ6dm0yS2t3Q2dZSUtvWkl6ajBFQXdJd0pERWlNQ0FHQTFVRUF3d1oKY210bE1pMWpiR2xsYm5RdFkyRkFNVGMzTURNd01EY3hOekFlRncweU5qQXlNRFV4TkRFeE5UZGFGdzB5TnpBeQpNRFV4TkRFeE5UZGFNREF4RnpBVkJnTlZCQW9URG5ONWMzUmxiVHB0WVhOMFpYSnpNUlV3RXdZRFZRUURFd3h6CmVYTjBaVzA2WVdSdGFXNHdXVEFUQmdjcWhrak9QUUlCQmdncWhrak9QUU1CQndOQ0FBU3ZuU1JTR25NaUswWFMKbnpaYlk1YmNBam45YmVjWGhvN1pQVVRVWnR4U3hQLzFoczBJRjZJcTFSNFFnbWQvMXMzZUUvQUVMQmVzcjVwWApTSVRpeDJxK28wZ3dSakFPQmdOVkhROEJBZjhFQkFNQ0JhQXdFd1lEVlIwbEJBd3dDZ1lJS3dZQkJRVUhBd0l3Ckh3WURWUjBqQkJnd0ZvQVVlRUJobVhtM3pJS0lFYmtNVzRrSGtpcTZkekF3Q2dZSUtvWkl6ajBFQXdJRFJ3QXcKUkFJZ1lSbFRicnNhSWVBZVF0QkhaME4yWTNaZWVZRmsyN2hKWkJleGtzdWlzNWNDSUVOeTIySXZjNThHTTJYdgpLWFRPUDRHZXBpc2VBSFYvVGVnOERPVWVHL1AzCi0tLS0tRU5EIENFUlRJRklDQVRFLS0tLS0KLS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUJlakNDQVIrZ0F3SUJBZ0lCQURBS0JnZ3Foa2pPUFFRREFqQWtNU0l3SUFZRFZRUUREQmx5YTJVeUxXTnMKYVdWdWRDMWpZVUF4Tnpjd016QXdOekUzTUI0WERUSTJNREl3TlRFME1URTFOMW9YRFRNMk1ESXdNekUwTVRFMQpOMW93SkRFaU1DQUdBMVVFQXd3WmNtdGxNaTFqYkdsbGJuUXRZMkZBTVRjM01ETXdNRGN4TnpCWk1CTUdCeXFHClNNNDlBZ0VHQ0NxR1NNNDlBd0VIQTBJQUJBdWFlcWhhUUE0Q1Z0ZjgzZzNINUlKb2pnKzhYZWRJaGxxZnAxamsKUlRKMmx6MTh1TDJCQWRKbHJmUjZyckFndFEwelI3R2NnVTNwMFR5emZ1M3hJR2lqUWpCQU1BNEdBMVVkRHdFQgovd1FFQXdJQ3BEQVBCZ05WSFJNQkFmOEVCVEFEQVFIL01CMEdBMVVkRGdRV0JCUjRRR0daZWJmTWdvZ1J1UXhiCmlRZVNLcnAzTURBS0JnZ3Foa2pPUFFRREFnTkpBREJHQWlFQTREY250SXBpYi9nMTJhU2NpbHViUWUvaXFnajAKMTdwNnZKUTZTWE9pRlVRQ0lRQ29jbC9OcEF3bTJId2ttQWZvNk5mWXRWUEZialo2NDZRb3NSamt3WVB3VkE9PQotLS0tLUVORCBDRVJUSUZJQ0FURS0tLS0tCg==
    client-key-data: LS0tLS1CRUdJTiBFQyBQUklWQVRFIEtFWS0tLS0tCk1IY0NBUUVFSUs3N2Q1Ym5ncUZPL3E5YW1QZjU0anMyNit2VC9BeFAvWTc1WmJiR3kybFhvQW9HQ0NxR1NNNDkKQXdFSG9VUURRZ0FFcjUwa1VocHpJaXRGMHA4MlcyT1czQUk1L1czbkY0YU8yVDFFMUdiY1VzVC85WWJOQ0JlaQpLdFVlRUlKbmY5Yk4zaFB3QkN3WHJLK2FWMGlFNHNkcXZnPT0KLS0tLS1FTkQgRUMgUFJJVkFURSBLRVktLS0tLQo=
