apiVersion: v1
clusters:
- cluster:
    insecure-skip-tls-verify: true
    server: https://127.0.0.1:6446
  name: default
contexts:
- context:
    cluster: default
    user: default
  name: default
current-context: default
kind: Config
users:
- name: default
  user:
    client-certificate-data: LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUJrakNDQVRpZ0F3SUJBZ0lJRjNXdlJIYlR6cTB3Q2dZSUtvWkl6ajBFQXdJd0pERWlNQ0FHQTFVRUF3d1oKY210bE1pMWpiR2xsYm5RdFkyRkFNVGMzTURJNU9UWXlNREFlRncweU5qQXlNRFV4TXpVek5EQmFGdzB5TnpBeQpNRFV4TXpVek5EQmFNREF4RnpBVkJnTlZCQW9URG5ONWMzUmxiVHB0WVhOMFpYSnpNUlV3RXdZRFZRUURFd3h6CmVYTjBaVzA2WVdSdGFXNHdXVEFUQmdjcWhrak9QUUlCQmdncWhrak9QUU1CQndOQ0FBUjBKTzQ2UWpVbXpOZDkKTHlRNWhXdjNVSjlWalVnV2NXYk9hS3RiRnFNR2Z4cWZSQTB3Y1VNRjJqVkd1WXd6VVJ3Qy9pTG1Ya24rak94cApmaHg2LzlXQW8wZ3dSakFPQmdOVkhROEJBZjhFQkFNQ0JhQXdFd1lEVlIwbEJBd3dDZ1lJS3dZQkJRVUhBd0l3Ckh3WURWUjBqQkJnd0ZvQVVhQU5NY29LLzZFWklGMStNbEY3Wk80aisyTnN3Q2dZSUtvWkl6ajBFQXdJRFNBQXcKUlFJZ0FSM3YyRzliY1ZDQk13Zklhc3dsc3hUNUxOQ253VWtFbVNoQ0xZd0ZxK0FDSVFDOGFYQ2s0QzZpUU0xRQpjTTlUWklrY1o2bVR1SEYrUjRwRFRSZmVwZGFKTnc9PQotLS0tLUVORCBDRVJUSUZJQ0FURS0tLS0tCi0tLS0tQkVHSU4gQ0VSVElGSUNBVEUtLS0tLQpNSUlCZURDQ0FSK2dBd0lCQWdJQkFEQUtCZ2dxaGtqT1BRUURBakFrTVNJd0lBWURWUVFEREJseWEyVXlMV05zCmFXVnVkQzFqWVVBeE56Y3dNams1TmpJd01CNFhEVEkyTURJd05URXpOVE0wTUZvWERUTTJNREl3TXpFek5UTTAKTUZvd0pERWlNQ0FHQTFVRUF3d1pjbXRsTWkxamJHbGxiblF0WTJGQU1UYzNNREk1T1RZeU1EQlpNQk1HQnlxRwpTTTQ5QWdFR0NDcUdTTTQ5QXdFSEEwSUFCQkp0WGRoK1BGNTc1OVV5aWRuQWNucDNkc0FPdkhaa3NJa0xLTjV6CnpZbFYycjNmY0htTkpKM2RmMzZDczJmTzV3UzlzSWRnWmJhSU1rSEoxZFhWeXBTalFqQkFNQTRHQTFVZER3RUIKL3dRRUF3SUNwREFQQmdOVkhSTUJBZjhFQlRBREFRSC9NQjBHQTFVZERnUVdCQlJvQTB4eWdyL29Sa2dYWDR5VQpYdGs3aVA3WTJ6QUtCZ2dxaGtqT1BRUURBZ05IQURCRUFpQWFBd2ZYRW8yRFpmUGtVNEpQazhvV1pZUVZFUFBzCnptZXNXOXRKV3ZjdVZnSWdYVWRYQTkzc1d6cDc1Y1pTNUY0aS93WlNYNGNtdlJ0WjNOdStKcDZGcTVNPQotLS0tLUVORCBDRVJUSUZJQ0FURS0tLS0tCg==
    client-key-data: LS0tLS1CRUdJTiBFQyBQUklWQVRFIEtFWS0tLS0tCk1IY0NBUUVFSUhqWGJLYnNJR2tnZXI1K3A4Q3ZyVEJSbkRsOUo2c3VTam9HcVV3dlpyRkFvQW9HQ0NxR1NNNDkKQXdFSG9VUURRZ0FFZENUdU9rSTFKc3pYZlM4a09ZVnI5MUNmVlkxSUZuRm16bWlyV3hhakJuOGFuMFFOTUhGRApCZG8xUnJtTU0xRWNBdjRpNWw1Si9venNhWDRjZXYvVmdBPT0KLS0tLS1FTkQgRUMgUFJJVkFURSBLRVktLS0tLQo=
