apiVersion: v1
clusters:
- cluster:
    insecure-skip-tls-verify: true
    server: https://10.1.101.190:6443
  name: default
contexts:
- context:
    cluster: default
    user: default
  name: default
current-context: default
kind: Config
users:
- name: default
  user:
    client-certificate-data: LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUJrakNDQVRpZ0F3SUJBZ0lJWlNaOG1xV3NaRnN3Q2dZSUtvWkl6ajBFQXdJd0pERWlNQ0FHQTFVRUF3d1oKY210bE1pMWpiR2xsYm5RdFkyRkFNVGMzTURNd01EUTROekFlRncweU5qQXlNRFV4TkRBNE1EZGFGdzB5TnpBeQpNRFV4TkRBNE1EZGFNREF4RnpBVkJnTlZCQW9URG5ONWMzUmxiVHB0WVhOMFpYSnpNUlV3RXdZRFZRUURFd3h6CmVYTjBaVzA2WVdSdGFXNHdXVEFUQmdjcWhrak9QUUlCQmdncWhrak9QUU1CQndOQ0FBU29FbytXamdiTUtVcngKdUpJZGlYSzlxcE0yUHhOWDRCMGM0TUlZcCtIYzRvQzczcjJDL2xzb1FhSmZwSWQ2Q2hYMS9tSm82TzFZQyt5eApZTnNxanpWMm8wZ3dSakFPQmdOVkhROEJBZjhFQkFNQ0JhQXdFd1lEVlIwbEJBd3dDZ1lJS3dZQkJRVUhBd0l3Ckh3WURWUjBqQkJnd0ZvQVUyKzk5VVA4T3JuY3VabzhHZU5NUzIvVUYvL2d3Q2dZSUtvWkl6ajBFQXdJRFNBQXcKUlFJaEFMeFVsMWNpaWl5dXdFazNEN0JqUEpMVmFFd1d5aTBiNzE3WU1ZQlM2Mko0QWlCYkw4N2xueW5wenhrdgpLVEFtRWk0NmNlY3RZdDRadzBwWDdjd2dWbEY5OGc9PQotLS0tLUVORCBDRVJUSUZJQ0FURS0tLS0tCi0tLS0tQkVHSU4gQ0VSVElGSUNBVEUtLS0tLQpNSUlCZVRDQ0FSK2dBd0lCQWdJQkFEQUtCZ2dxaGtqT1BRUURBakFrTVNJd0lBWURWUVFEREJseWEyVXlMV05zCmFXVnVkQzFqWVVBeE56Y3dNekF3TkRnM01CNFhEVEkyTURJd05URTBNRGd3TjFvWERUTTJNREl3TXpFME1EZ3cKTjFvd0pERWlNQ0FHQTFVRUF3d1pjbXRsTWkxamJHbGxiblF0WTJGQU1UYzNNRE13TURRNE56QlpNQk1HQnlxRwpTTTQ5QWdFR0NDcUdTTTQ5QXdFSEEwSUFCSlh0R0k3dnZlMTQ0WDQ2ZWhRcTRCVjhDSlVWYVVjbnY1cEFvOWo0CnpObG8yUE5Hc3dXUHU3azlnOWRMVW9GTXF1RU5HZlhhVkVmbmZjM0N4Yi9FdEh1alFqQkFNQTRHQTFVZER3RUIKL3dRRUF3SUNwREFQQmdOVkhSTUJBZjhFQlRBREFRSC9NQjBHQTFVZERnUVdCQlRiNzMxUS93NnVkeTVtandaNAoweExiOVFYLytEQUtCZ2dxaGtqT1BRUURBZ05JQURCRkFpQWNIRFZjZ1FabFlOQ2dEV1Bpb0M1ZGRIUG03Y1lPCmZBZ05CQVZLRU9tdDFnSWhBTjdZNEZSa3VHQXg3S2Qwbi9YRSttQ2tYVytRUURVRHNoRkplRXZPdVBGcAotLS0tLUVORCBDRVJUSUZJQ0FURS0tLS0tCg==
    client-key-data: LS0tLS1CRUdJTiBFQyBQUklWQVRFIEtFWS0tLS0tCk1IY0NBUUVFSUdIb25mbGF2ci9HVHIrcWhMYmcvOGRzczBVQmU2eWlLZVJZa1o3dTJMWVFvQW9HQ0NxR1NNNDkKQXdFSG9VUURRZ0FFcUJLUGxvNEd6Q2xLOGJpU0hZbHl2YXFUTmo4VFYrQWRIT0RDR0tmaDNPS0F1OTY5Z3Y1YgpLRUdpWDZTSGVnb1Y5ZjVpYU9qdFdBdnNzV0RiS284MWRnPT0KLS0tLS1FTkQgRUMgUFJJVkFURSBLRVktLS0tLQo=
