backend:
  name: backend-deployment
  namespace: meo-stationery

workload:
  image: minhtri1612/meo-stationery-backend:vcl
  resources:
    requests:
      memory: "256Mi"
      cpu: "128m"
    limits:
      memory: "2Gi"
      cpu: "1000m"
  ports:
    - containerPort: 3000

service:
  type: ClusterIP
  port: 80
  targetPort: 3000

serviceAccount:
  create: false

replicaCount: 2

# Configuration for the application
config:
  nextAuthUrl: "http://meo-stationery.local"

# Values for the database, to be used in the secret template
database:
  fullnameOverride: "postgres"
  namespace: "database"
  auth:
    username: "meo_admin"
    password: "MeoStationery2025!"
    database: "meo_stationery"

secret:
  nextAuthSecret: "APk2a8X+CiC8Ku6wuKVkb9abRh+dlXAi1qyKYacc3Hw="

httpRoute:
  enabled: false

ingress:
  enabled: true
  host: meo-stationery.local
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /
    nginx.ingress.kubernetes.io/ssl-redirect: "false"
  tls:
    enabled: false
    secretName: meo-stationery-tls

autoscaling:
  enabled: true
  minReplicas: 2
  maxReplicas: 5
  targetCPUUtilizationPercentage: 80
  # targetMemoryUtilizationPercentage: 80
