- name: Prepare all nodes for RKE2
  hosts: all
  become: yes
  tasks:
    - name: Disable swap temporarily
      command: swapoff -a 
      
      when: ansible_swaptotal_mb | int > 0  # Only runs if swap exists 

    - name: Disable swap permanently in fstab
      replace:
        path: /etc/fstab
        regexp: '^([^#].*swap.*)$'
        replace: '# \1 # Disabled for RKE2'
        backup: yes
      when: ansible_swaptotal_mb | int > 0

    - name: Load kernel modules
      modprobe:
        name: "{{ item }}"
        state: present
      loop: [overlay, br_netfilter]

    - name: Set sysctl params
      copy:
        dest: /etc/sysctl.d/rke2.conf
        content: |
          net.bridge.bridge-nf-call-iptables  = 1
          net.ipv4.ip_forward                 = 1
        mode: '0644'

    - name: Apply sysctl
      command: sysctl --system