- name: Join RKE2 Workers
  hosts: workers
  become: yes
  vars:
    master_ip: ""  # Will be updated by deploy.py
    token: "MySuperSecretToken123"

  tasks:
    - name: Install RKE2 Agent
      shell: curl -sfL https://get.rke2.io | INSTALL_RKE2_TYPE="agent" sh -

    - name: Create config directory
      file:
        path: /etc/rancher/rke2
        state: directory

    - name: Write Agent config
      copy:
        dest: /etc/rancher/rke2/config.yaml
        content: |
          server: https://{{ master_ip }}:9345
          token: "{{ token }}"

    - name: Start RKE2 Agent
      systemd:
        name: rke2-agent
        state: started
        enabled: yes